<%= form_for(@muni_page) do |f| %>
  <% if @muni_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@muni_page.errors.count, "error") %> prohibited this muni_page from being saved:</h2>

      <ul>
      <% @muni_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
