<h1>Tu Carro</h1>
<%= link_to "Vacia carro", cart_clear_path %>


<ul>
<% @cart.each do | id, quantity | %>
<% product = Product.find_by_id(id)  %>
		<li>
			 <%= link_to product.title, product %> %>
		</li>
		
<%end  %>
</ul>

