<h1>El lugar donde puedes comprar reales artesanias y ayudar al desarollo economico de sectores rurales de Chile</h1>

<nav>
<ul>
    <li><%= link_to "Productos", products_path %></li>
    <li> <%= link_to "Artesanos", craftsmen_path %> </a></li>
    <li><a title="Opcion 3" href="#">Opción 3</a></li>
    <li><a title="Opcion 4" href="#">Opción 4</a></li>
    <li><a title="Opcion 5" href="#">Opción 5</a></li>
</ul>
</nav>





 <%= link_to "Productos", products_path %> 
 <%= link_to "Artesanos", craftsmen_path %> 