






/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap
 *= require bootstrap-theme
 *= require_tree .
 *= require_self
 */
background-image: url("assets/images/artesania.jpg");

*{ 
 margin: 0;
 padding: 0;
 font-family: "Trebuchet MS", Verdana, sans-serif;
 color: black;
 background-color: #eeeeee;
}
body {
	background-color: #FF9900;
}
#frase {
font-family: "Trebuchet MS", Verdana, sans-serif;
background-image: url("Home/Desktop/desafiolatam/rails/ProyectoCSM/app/assets/images/artesania.jpg");
width: 100%;
height: 200px;
text-align: center;
 background-image: url("/rails/ProyectoCSM/assets/images/artesania.jpg");


}

#nav{
	width: 100%;
	height: 80px;
	background: #000;
	float: left;
	text-align:center;
	 font-size: 13px;

}
h2 { text-align: center;}

#page_nav a{
	line-height: 60px;
	color: white;
	padding: 0 10px 0 10px;
	text-decoration: none;
	margin: 0 5% 0 5%;
	float: left;
	background: #8344; 
}
#sign_in a{
	line-height: 40px ;
	color: #fff;
	padding: 0 10px 0 10px;
	text-decoration: none; 
	float: right;
	margin: 0 3% 0 0;
		}

#main_wrap {
	width: 90%;
	float: left;
	margin: 20px 5% 0 5%;
}

#artesanos_home {
	line-height: 40px ;
	padding: 0 10px 0 10px;
	text-decoration: none; 
	margin: 0 0 0 0;
	background: green;
	clear: both; 
		}

#productos_home {
line-height: 40px ;
	padding: 0 10px 0 10px;
	text-decoration: none; 
	margin: 0 0 0 0;
	background: green; 
	clear: both; 
}

 #artesano { 
 	float: left;
 	width: 33%;
 		}

#producto { 
 	float: left;
 	width: 33%;	}

#municipalidades_home {
line-height: 40px ;
	padding: 0 10px 0 10px;
	text-decoration: none; 
	margin: 0 0 0 0;
	background: green; 
	clear: both; 
}

#municipalidad {
	float: left;
 	width: 33%;
 }

img {
	border-radius: 108px 108px 108px 108px;
-moz-border-radius: 108px 108px 108px 108px;
-webkit-border-radius: 108px 108px 108px 108px;
border: 16px double #000000; }

tr {
	border: 1px dashed blue;
	}